@model AccountViewModel
<section id="user-profile" class="page-section">
    <div class="container">

        @await Html.PartialAsync("~/Views/Shared/Sections/Account/_AccountMenuPartial.cshtml", Model, ViewData)

        <div class="account-details-container">
            <h1>Account Details</h1>
            <h5>Basic info</h5>

            @if (TempData["Success"] != null)
            {
                <div class="updateSuccessBox" id="updateSuccessBox">@TempData["Success"]?.ToString()</div>
            }
            else if (TempData["Failed"] != null)
            {
                <div class="updateErrorBox" id="updateErrorBox">@TempData["Failed"]?.ToString()</div>
            }
            else if (TempData["AlreadyExists"] != null)
            {
                <div class="updateErrorBox" id="updateErrorBox">@TempData["AlreadyExists"]?.ToString()</div>
            }
            

            <form asp-controller="Account" asp-action="SaveBasicInfo" class="form-basic-info" method="post" novalidate>
                <div class="firstname-group input-group">
                    <label asp-for="AccountDetails.BasicInfoForm.FirstName"></label>
                    @if (Model.IsExternalAccount)
                    {
                        <input asp-for="AccountDetails.BasicInfoForm.FirstName" disabled placeholder="@Model.User.FirstName">
                    }
                    else
                    {
                        <input asp-for="AccountDetails.BasicInfoForm.FirstName" placeholder="@Model.User.FirstName">
                        <span asp-validation-for="AccountDetails.BasicInfoForm.FirstName"></span>
                    }
                    
                </div>
                <div class="lastname-group input-group">
                    <label asp-for="AccountDetails.BasicInfoForm.LastName"></label>

                    @if (Model.IsExternalAccount)
                    {
                        <input asp-for="AccountDetails.BasicInfoForm.LastName" disabled placeholder="@Model.User.LastName">
                    }
                    else
                    {
                        <input asp-for="AccountDetails.BasicInfoForm.LastName" placeholder="@Model.User.LastName">
                        <span asp-validation-for="AccountDetails.BasicInfoForm.LastName"></span>
                    }
                    
                </div>
                <div class="email-group input-group">
                    <label asp-for="AccountDetails.BasicInfoForm.Email"></label>

                    @if (Model.IsExternalAccount)
                    {
                        <input asp-for="AccountDetails.BasicInfoForm.Email" disabled placeholder="@Model.User.Email">
                    }
                    else
                    {
                        <input asp-for="AccountDetails.BasicInfoForm.Email" placeholder="@Model.User.Email">
                        <span asp-validation-for="AccountDetails.BasicInfoForm.Email"></span>
                    }
                </div>
                <div class="phone-group input-group">
                    <label asp-for="AccountDetails.BasicInfoForm.PhoneNumber"></label>
                    <input asp-for="AccountDetails.BasicInfoForm.PhoneNumber">
                    <span asp-validation-for="AccountDetails.BasicInfoForm.PhoneNumber"></span>
                </div>
                <div class="bio-group input-group">
                    <label asp-for="AccountDetails.BasicInfoForm.Bio"></label>
                    <textarea asp-for="AccountDetails.BasicInfoForm.Bio" id="basicInfoBio" placeholder="Add a short bio"></textarea>
                    <span asp-validation-for="AccountDetails.BasicInfoForm.Bio"></span>
                </div>
                <div class="btn-group">
                    <button type="reset" class="btn-gray">Cancel</button>
                    <button type="submit" class="btn-theme" id="basicInfoSubmitBtn">Save changes</button>
                </div>
            </form>

            <h5 class="address-heading">Address info</h5>

            <form asp-controller="Account" asp-action="SaveAddressInfo" class="form-address-info">
                <div class="address1-group input-group">
                    <label asp-for="AccountDetails.AddressForm.AddressLine1"></label>
                    <input asp-for="AccountDetails.AddressForm.AddressLine1" />
                    <span asp-validation-for="AccountDetails.AddressForm.AddressLine1"></span>

                </div>
                <div class="address2-group input-group">
                    <label asp-for="AccountDetails.AddressForm.AddressLine2"></label>
                    <input asp-for=" AccountDetails.AddressForm.AddressLine2" />
                    <span asp-validation-for="AccountDetails.AddressForm.AddressLine2"></span>

                </div>
                <div class="postal-group input-group">
                    <label asp-for="AccountDetails.AddressForm.PostalCode"></label>
                    <input asp-for="AccountDetails.AddressForm.PostalCode" />
                    <span asp-validation-for="AccountDetails.AddressForm.PostalCode"></span>

                </div>
                <div class="city-group input-group">
                    <label asp-for="AccountDetails.AddressForm.City"></label>
                    <input asp-for="AccountDetails.AddressForm.City" />
                    <span asp-validation-for="AccountDetails.AddressForm.City"></span>
                </div>

                <div class="btn-group">
                    <button type="reset" class="btn-gray">Cancel</button>
                    <button type="submit" class="btn-theme" id="addressInfoSubmitBtn">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</section>
@await Html.PartialAsync("_AccountBasicInfoValidationPartial")
@await Html.PartialAsync("_AccountAddressInfoValidationPartial")