@model AccountViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"]!.ToString();
    var action = ViewContext.RouteData.Values["action"]!.ToString();
}

<div class="profile-sidebar">
    <div class="user-info">
        <div class="image-container">
            <img src="/images/courses/user-profile-small.svg"></img>
            <button class="btn-update-img"><i class="fa-solid fa-rotate"></i></button>
        </div>
        <h6>@Model.User.FirstName @Model.User.LastName</h6>
        <p>@Model.User.Email</p>
    </div>

    <div class="btn-group">
        <a asp-action="AccountDetails" class="@(Context.Request.Path == "/account/details" ? "btn-theme-s" : "btn-gray")">
            <i class="fa-solid fa-gear"></i>
            Account Details
        </a>
        <a asp-action="AccountSecurity" class="@(Context.Request.Path == "/account/security" ? "btn-theme-s" : "btn-gray")">
            <i class="fa-solid fa-lock"></i>
            Security
        </a>
        <a asp-action="AccountSavedItems" class="@(Context.Request.Path == "/account/saved" ? "btn-theme-s" : "btn-gray")">
            <i class="fa-regular fa-bookmark"></i>
            Saved Courses
        </a>
        <a asp-controller="Auth" asp-action="SignOut" class="btn-gray">
            <i class="fa-solid fa-right-from-bracket"></i>
            Sign out
        </a>
    </div>
</div>