@model ShowcaseModel

<section id="showcase">
    <img class="background-image" src="@Model.BackgroundImage.Source" alt="@Model.BackgroundImage.Alt">

    <div class="container">
        <div class="content">
            <h1>@Model.HeadingMain</h1>
            <p>@Model.Paragraph</p>
            <a class="btn-theme" href="@Model.Link.Link">@Model.Link.Text</a>

            <h6>@Model.HeadingSecondary</h6>
            <div class="brands">
                @if (Model.Brands.Count() != 0)
                {
                    foreach (var brand in Model.Brands)
                    {
                        <img src="@brand.Source" alt="@brand.Alt">
                    }
                }
            </div>
        </div>
    </div>
</section>