@model FeaturesListModel

<section class="page-section" id="manage-your-work">
    <div class="container">
        <div class="scene">
            <div class="cube">
                <div class="face front"><img src="~/images/manage-img.svg"></div>
                <div class="face right"><img src="~/images/manage-img.svg"></div>
                <div class="face left"> <img src="~/images/manage-img.svg"></div>
                <div class="face back"> <img src="~/images/manage-img.svg"></div>
            </div>
        </div>
        <img src="@Model.Image.Source" id="dashboard-image" alt="@Model.Image.Alt">

        <div class="content">
            <h2>@Model.Heading</h2>
            <div id="checkbox-list">
                @if (Model.Features != null && Model.Features.Count() > 0)
                {
                    foreach (var feature in Model.Features)
                    {
                        <div class="checkbox-list-item">
                            <i class="fa-regular fa-square-check"></i>
                            <p>@feature</p>
                        </div>
                    }
                }
            </div>
            <a href="@Model.Link.Link" class="btn-theme">@Model.Link.Text<i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>
