@inject UserManager<ApplicationUser> _userManager
@inject SignInManager<ApplicationUser> _signInManager
@{
    var user = await _userManager.GetUserAsync(User);
}

<div class="mobile-nav-wrapper d-none">
    <div class="mobile-nav-backdrop" onclick="toggleNavBar()"></div>
    <div class="mobile-nav">
        <div class="mobile-nav-header">
            <a id="logo-mobile-nav" asp-controller="Home" asp-action="Index"></a>
            <i class="fa-solid fa-x menuside-toggle" onclick="toggleNavBar()"></i>
        </div>
        @if (_signInManager.IsSignedIn(User) && user != null)
        {
            <div class="user-info">
                <div class="profile-img-container">
                    <div class="img-container">
                        @if (user.ProfileImage != null)
                        {
                            <img src="~/uploads/@user.ProfileImage" alt="profile image"></img>
                        }
                        else
                        {
                            <img src="~/images/avatar.jpg" alt="profile image"></img>
                        }

                    </div>
                    <form enctype="multipart/form-data" asp-action="UpdateProfileImage" asp-controller="Account" method="post">
                        <input id="fileUploader" type="file" name="file" hidden />
                        <label for="fileUploader" class="btn-update-img"><i class="fa-solid fa-rotate"></i></label>
                    </form>
                </div>

                <h6>@user.FirstName @user.LastName</h6>
                <p>@user.Email</p>
            </div>

            <div class="user-menu-options">
                <a asp-action="AccountDetails" asp-controller="Account" class="@(Context.Request.Path == "/account/details" ? "btn-theme-s" : "btn-gray") user-dropdown-link link-user-profile">
                    <div class="menu-item-container">
                        <i class="fa-solid fa-gear"></i>
                        Account Details
                    </div>
                    
                </a>
                <a asp-action="AccountSecurity" asp-controller="Account" class="@(Context.Request.Path == "/account/security" ? "btn-theme-s" : "btn-gray") user-dropdown-link">
                    <div class="menu-item-container">
                        <i class="fa-solid fa-lock"></i>
                        Security
                    </div>
                    
                </a>
                <a asp-action="AccountSavedItems" asp-controller="Account" class="@(Context.Request.Path == "/account/saved" ? "btn-theme-s" : "btn-gray") user-dropdown-link">
                    <div class="menu-item-container">
                        <i class="fa-regular fa-bookmark"></i>
                        Saved Courses
                    </div>
                </a>
                <a asp-controller="Auth" asp-action="SignOut" class="btn-gray">
                    <div class="menu-item-container">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Sign out
                    </div>
                </a>
            </div>
        }
        <nav class="mobile-menu">
            <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
            <a class="menu-link" asp-controller="Home" asp-action="Index">Features</a>
            <a class="menu-link" asp-controller="Contact" asp-action="Contact">Contact</a>
        </nav>

        <div class="btn-switch">
            <label class="text-s">Light</label>
            <label class="switch" for="mobile-switch-mode">
                <input type="checkbox" id="mobile-switch-mode">
                <span class="slider round"></span>
            </label>
            <label class="text-s">Dark</label>
        </div>

        <div class="mobile-account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Auth" asp-action="SignOut" class="btn-dark-gray">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Sign Out</span>
                </a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="btn-dark-gray">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Sign In</span>
                </a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme">
                    <i class="fa-regular fa-user"></i>
                    <span>Sign Up</span>
                </a>
            }
        </div>
    </div>
</div>